<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nick %><br>
    <%= f.text_field :nick %>
  </div>
  <div class="field">
    <%= f.label :r1 %><br>
    <%= f.number_field :r1 %>
  </div>
  <div class="field">
    <%= f.label :r2 %><br>
    <%= f.number_field :r2 %>
  </div>
  <div class="field">
    <%= f.label :r3 %><br>
    <%= f.number_field :r3 %>
  </div>
  <div class="field">
    <%= f.label :r4 %><br>
    <%= f.number_field :r4 %>
  </div>
  <div class="field">
    <%= f.label :r5 %><br>
    <%= f.number_field :r5 %>
  </div>
  <div class="field">
    <%= f.label :r6 %><br>
    <%= f.number_field :r6 %>
  </div>
  <div class="field">
    <%= f.label :tournament_id %><br>
    <%= f.text_field :tournament_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
