= form_for @entry, :html => { :class => 'form-horizontal form-model' } do |f|
  .form-group
    = f.label :nick, :class => 'control-label col-md-2'
    .col-md-10
      = f.text_field :nick, :class => 'text-field form-control'
  .form-group
    = f.label :r1, :class => 'control-label col-md-2'
    .col-md-10
      = f.number_field :r1, :class => 'text-field form-control'
  .form-group
    = f.label :r2, :class => 'control-label col-md-2'
    .col-md-10
      = f.number_field :r2, :class => 'text-field form-control'
  .form-group
    = f.label :r3, :class => 'control-label col-md-2'
    .col-md-10
      = f.number_field :r3, :class => 'text-field form-control'
  .form-group
    = f.label :r4, :class => 'control-label col-md-2'
    .col-md-10
      = f.number_field :r4, :class => 'text-field form-control'
  .form-group
    = f.label :r5, :class => 'control-label col-md-2'
    .col-md-10
      = f.number_field :r5, :class => 'text-field form-control'
  .form-group
    = f.label :r6, :class => 'control-label col-md-2'
    .col-md-10
      = f.number_field :r6, :class => 'text-field form-control'
  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        entries_path, :class => 'btn btn-default'                    |
