<p id="notice"><%= notice %></p>

<p>
  <strong>Nick:</strong>
  <%= @entry.nick %>
</p>

<p>
  <strong>R1:</strong>
  <%= @entry.r1 %>
</p>

<p>
  <strong>R2:</strong>
  <%= @entry.r2 %>
</p>

<p>
  <strong>R3:</strong>
  <%= @entry.r3 %>
</p>

<p>
  <strong>R4:</strong>
  <%= @entry.r4 %>
</p>

<p>
  <strong>R5:</strong>
  <%= @entry.r5 %>
</p>

<p>
  <strong>R6:</strong>
  <%= @entry.r6 %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @entry.tournament %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
