- model_class = Tournament
.page-header
  %h1= t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => Tournament

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:nick)
      %th= model_class.human_attribute_name(:r1)
      %th= model_class.human_attribute_name(:r2)
      %th= model_class.human_attribute_name(:r3)
      %th= model_class.human_attribute_name(:r4)
      %th= model_class.human_attribute_name(:r5)
      %th= model_class.human_attribute_name(:r6)
      %th= model_class.human_attribute_name(:created_at)
  %tbody
    - @tournament.entries.each do |entry|
      %tr
        %td= entry.nick
        - 6.times do
          %td  **
        %td= l entry.created_at, format: :long

%h2= t '.enter', :default => [:'helpers.titles.enter', 'New %{model}'], :model => Entry

= render :partial => 'entries/form'
= form_for @tournament, :html => { :class => 'form-horizontal form-model' } do |f|
  = f.submit t('.finish', :default => [:'helpers.titles.finish', 'Finish %{model}'], :model => Tournament), :class => 'btn btn-primary'
